<ion-header>
  <ion-navbar>
    <ion-title>
      Noticas PACE UCSC
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="!rssFeedItems">
    <ion-card-header>
      Ups, al parecer algo salió mal
    </ion-card-header>
    <ion-card-content>
      Problemas cargando las noticas? prueba recargar la página
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let feedItem of rssFeedItems" (click)="itemSelected(feedItem)">
    <img [src]="feedItem.thumbnail"/>
    <ion-card-content>
      <ion-card-title>
        {{ feedItem.title }}
      </ion-card-title>
      <p>
        {{ feedItem.description }}
      </p>
    </ion-card-content>
    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='person'></ion-icon>
          {{feedItem.author}}
        </button>
      </ion-col>
      <ion-col text-center>
        
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='calendar'></ion-icon>
          {{formatDate(feedItem.pubDate)}}
        </button>
      </ion-col>
</ion-row>
  </ion-card>

  <!--<ion-list>
    <ion-item >
      
    </ion-item>
  </ion-list>-->

</ion-content>
